/* Light Mode Styles */
body {
    background-color: #ffffff;
    color: #000000;
}

.jumbotron {
    background-color: #f8f9fa;
    color: #000000;
}

.card {
    background-color: #ffffff;
    color: #000000;
}

.card-line {
    border-top: 1px solid #000000;
    margin: 0 15px; /* Adjust the margin to create space on both ends */
}

/* Dark Mode Styles */
@media (prefers-color-scheme: dark) {
    body {
        background-color: #121212;
        color: #ffffff;
    }

    .jumbotron {
        background-color: #1c1c1c;
        color: #ffffff;
    }

    .card {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .nav-tabs .nav-link.active {
        background-color: #333333;
        color: #ffffff;
    }

    .list-group-item {
        background-color: #1e1e1e;
        color: #ffffff;
    }

    .card-line {
        border-top: 1px solid #ffffff;
        margin: 0 15px; /* Adjust the margin to create space on both ends */
    }
}

.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
}

.dark-mode .modal-header {
    border-bottom: 1px solid #333333;
}

.dark-mode .modal-footer {
    border-top: 1px solid #333333;
}

.dark-mode .close {
    color: #ffffff;
}

.dark-mode p {
    color: #ffffff;
}
